@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body,html{
  font-family: "Montserrat", sans-serif;
  color: #112D49;
}

.hero-swiper .swiper-pagination {
  bottom: 20px !important;
  text-align: center;
}

.hero-swiper .swiper-pagination-bullet {
  background: #112D49;
  opacity: 0.5;
}

.hero-swiper .swiper-pagination-bullet-active {
  background: #112D49;
  opacity: 1;
}

@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: fit-content;
    animation-play-state: running;
  animation: marquee 60s linear infinite;
}
