@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

.font-montserrat{
  font-family: "Montserrat", sans-serif;
}
body{
  color: #112D49;
}




@keyframes marquee {
  0% {
    transform: translateX(0%);
  }

  100% {
    transform: translateX(-50%);
  }
}

.animate-marquee {
  display: flex;
  width: fit-content;
    animation-play-state: running;
  animation: marquee 60s linear infinite;
}

.testimonial-swiper,
.testimonial-swiper .swiper-wrapper,
.testimonial-swiper .swiper-slide {
  overflow: visible !important;
}
/* index.css */
.border-gradient-top {
  border-top: 1px solid;
  border-image-source: linear-gradient(90deg,
      rgba(255, 255, 255, 0) 3.37%,
      rgba(255, 255, 255, 0.8) 51.44%,
      rgba(255, 255, 255, 0) 100%);
  border-image-slice: 1;
}