@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');


body{
  font-family: "Montserrat", sans-serif;
  color: #112D49;
}
@keyframes marquee {
  0% {
    transform: translateX(0);
  }

  100% {
    transform: translateX(-100%);
  }
}

.animate-marquee {
  animation: marquee 24s linear infinite;
  display: flex;
  width: fit-content;
  animation-play-state: running;
}
.swiper-pagination-bullet {
  width: 21px;
  height: 2px;
  background-color:#E8E8E8;
  opacity: 0.5;
  transform:  translateY(30px);
  transition: all 0.3s ease-in-out;
}

.swiper-pagination-bullet:hover {
  width: 51px;
  border-radius: 22px;
  background-color: #112D49;
  opacity: 1;
}

.swiper-pagination-bullet-active {
  width: 51px;
  opacity: 1;
}